.sidebar {
  width: 420px;
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.city-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 5px;
}

.search-button {
  width: 100%;
  background-color: lightskyblue;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:disabled {
  background-color: lightgray;
}

.city-list {
  overflow: hidden auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-list::-webkit-scrollbar {
  width: 12px;
}

.city-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.city-list::-webkit-scrollbar-thumb {
  background: lightskyblue;
  border-radius: 8px;
}

.city-list::-webkit-scrollbar-thumb:hover {
  background: deepskyblue;
}

.city-list ul {
  padding: 0 20px;
}

.city-list li {
  list-style: none;
  margin-bottom: 10px;
}

.divider {
  width: 75%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
}
