.citiesContainer {
  height: 480px;
  width: 420px;
}

.citiesContainerContent {
  overflow: hidden auto;
  height: 380px;
  width: 420px;
}

.citiesContainerContent::-webkit-scrollbar {
  width: 12px;
}

.citiesContainerContent::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.citiesContainerContent::-webkit-scrollbar-thumb {
  background: lightskyblue;
  border-radius: 8px;
}

.citiesContainerContent::-webkit-scrollbar-thumb:hover {
  background: deepskyblue;
}

.cityInput {
  margin: 10px 40px 15px 40px;
  width: 350px;
  height: 40px;
  border: #000 solid 1px;
  border-radius: 5px;
  font-family:
    Comic Sans MS,
    Comic Sans,
    cursive;
  font-size: 20px;
}

li {
  margin: 5px 0;
  list-style: none;
}

.citiesContent-hr {
  width: 75%;
}
