/* TODO: dark mode style */

.app-light,
.app-dark {
  background: #fff;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 350px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .app {
    padding: 10px;
    margin: 0;
  }

  .main-content {
    flex-direction: column;
  }
}
