.mainContainer {
  background: #ffffff;
  border: #333333 1px solid;
  border-radius: 10px;
  box-shadow: #333333 1px 1px;
  position: fixed;
  top: 180px;
  left: 220px;
  right: 220px;
  bottom: 180px;
  min-height: 350px;
  min-width: 350px;
}

.contentContainer {
  display: flex;
}
