.mainFragment {
  background: #ffffff;
  border: #333333 1px solid;
  border-radius: 10px;
  box-shadow: #333333 1px 1px;
  position: fixed;
  top: 10rem;
  left: 10rem;
  right: 10rem;
  bottom: 10rem;
  min-height: 350px;
  min-width: 350px;
}
